@import url("./reset.css");

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 1128px;
    list-style: none;
    margin: 0 auto;
    padding: 24px 0;
}

.gallery-item {
    cursor: pointer;
}

.gallery-image {
    display: block;
    width: 360px;
    height: 200px;
}

.close-icon{
    width: 32px;
    height: 32px;
}

.arrow{
    width: 24px;
    height: 24px;
}

.simple-lightbox{
    background: rgba(46, 47, 66, 0.80);
}

.simple-lightbox button , .simple-lightbox button.sl-close{
    color: #fff;
}

.sl-wrapper.simple-lightbox .sl-counter{
    color: #fff;
    letter-spacing: 0.64px;
}

.sl-wrapper.simple-lightbox .sl-navigation button{
    line-height: 0;
}
